# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Environment
.env

# Node
node_modules/

# OS Files
.DS_Store
Thumbs.db
desktop.ini