# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Temporary Files
*.tmp
*.bak

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Node Modules
node_modules/

# Jupyter
.ipynb_checkpoints/

# Compiled Files
*.pyc
*.pyo